.App {
  padding: 30px;
  display: flex;
}

.App>div {
  margin-right: 50px;
  border: 1px solid black;
  padding: 20px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}